
m2048.xcodeproj/xcuserdata/antonio081014.xcuserdatad/xcschemes/xcschememanagement.plist

m2048.xcodeproj/project.xcworkspace/xcshareddata/m2048.xccheckout

m2048.xcodeproj/project.xcworkspace/xcuserdata/antonio081014.xcuserdatad/UserInterfaceState.xcuserstate

m2048.xcodeproj/xcuserdata/antonio081014.xcuserdatad/xcschemes/m2048.xcscheme
